html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: 340px, auto;
}

/* header */

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Products */

.products {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5pmx solid rgba(0,0,0,0.3 );
  border-radius: 3px;
}

.item img {
  max-width: 37rem;
  max-height: 37rem;
}

/* @media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
} */
/* Footer */

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

